footer{
  height:500px;
  background-color: #f5f6f7;
}
.gap_area{height: 150px;
margin: none;
}
.Privacy_Policy_detail{
  font-family: Georgia, "Times New Roman", serif;
  font-size: 13px; 
  margin-bottom: 15px;
}
.footer_detail_area{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer_detail_area a{
  margin-right: 45px;
  color: rgb(135, 135, 135);
  font-family: Georgia, "Times New Roman", serif;
}
.Head_Privacy_Policy{
  font-family: Georgia, "Times New Roman", serif;
  font-size: 15px;
  margin-bottom:2px;
}
footer .terms_information{
  font-family: Georgia, "Times New Roman", serif;
  font-size: 13px;
}
